<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <%= image_tag current_user.get_profile_image(100,100) %>
        <table class="table">
          <tbody>
            <tr></tr>
            <tr>
              <th>name</th>
              <th><%= current_user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= :introduction %></th>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <p><%= link_to "User info", edit_user_path(current_user.id) %>
          <i class="fas fa-user-cog"></i>
          </p>
        </div>
        <h2>New book</h2>
        <%= form_with model: @book do |f| %>
          <div class="form-group">
          <label for="book_title">Title</label>
          <%= f.text_field :title, autofocus: true, id:"book_title" %>
          </div>
          <div class="form-group">
          <label for="book_opinion">Opinion</label>
          <%= f.text_area :body, autofocus: true, id:"book_body" %>
          </div>
          <div class="form-group">
          <%= f.submit 'Creat Book' %>
          </div>
        <% end %>
      </div>
      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= image_tag current_user.get_profile_image(100,100) %></td>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>