<%= render 'list', books: @books %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td><%= image_tag current_user.get_profile_image(100,100) %><br><%= current_user.name %></td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
        <td><%= link_to "Edit", edit_book_path %></td>
        <td><% if @book.user == current_user %>
              <%= link_to "Destroy",book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?" %>
            <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

